$color-white: #fff;
$color-black: #000;
$color-orange1: #e84c3d;
$color-orange2: #ba4000;

$base__background-color: #f1f1f1;
$header__background-color: $color-white;
$footer__background-color: #4c4c4c;
$title__color: $color-orange1;
$link__color: #fd7e52;
$article-date__color: #c6c6c6;
$article-image__width: 350px;

$btn__background-color: $color-orange1;
$btn_hover__background-color: $color-orange2;
$btn__border-color: $color-orange1;
$btn_hover__border-color: $color-orange2;